* {
    padding:0px;
    margin:0px;
}

.grids{
    display: flex;
    flex-wrap: wrap;
    aspect-ratio: 1/1;
    background-color: rgb(126, 117, 117);
}

.grid{
    width: 6.25%;
    aspect-ratio: 1/1;
    /*margin:2px;*/
    background-color: beige;
}

.hovered {
    background-color: black;
}